<section class="user-login">
  <header class="page-header">
    <h1>User &raquo; Log In</h1>
  </header>
  <%= form_for :login do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email, autofocus: true %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit "Log In" %>
    </div>
  <% end %>
</section>